/*Página Index.HTML*/

#container{
    display: block;
}

#intro{
    margin: 0 auto;
}

header a img{
    display: block;
    margin: 0 auto;
}

/*Modal*/
#modal{
    height: 900px;
}

/*Página Ideias.HTML*/

#page-ideias header{
    display: block;
}

#page-ideias header a img{
    margin-left: 0px;
}

#page-ideias nav{
    margin-top: 40px;
    justify-content: center;
}


#page-ideias #ideias{
    display: block;
}

#page-ideias #ideias .ideia{
    display: block;
    padding: 10px 32px 32px 32px;
    margin-bottom: 32px;
}

#page-ideias #ideias .ideia img{
    display: block;
    margin: 15px auto;
}


@media(min-width: 500px) and (max-width: 960px){
    /*Página Index.HTML*/
    #intro{
        width: 320px;
    }
}

@media(max-width: 660px){
    /*Modal*/
    .content form div{
        grid-column: span 2;
    }

    .content form{
        justify-content: center;
    }
}

@media(max-width: 460px){
    /*Página Index.HTML*/
    .ideia{
        display: block;
        padding: 10px 32px 32px 32px;
    }

    .ideia img{
        display: block;
        margin: 15px auto;
    }

    /*Página Ideias.HTML*/

    #page-ideias nav{
        display: block;
    }

    #page-ideias nav li{
        margin-bottom: 10px;
    }

    #page-ideias nav li a{
        text-align: center;
    }

    #page-ideias header a img{
        margin: auto;
    }

    /*ModalDel*/

    #modalDel{
        height: 1000px;
    }

    #modalDel .content p{
        margin: 0px 10px;
    }
}

@media(max-width: 360px){
    /*Modal*/
    #modal{
        height: 1000px;
    }

    #modal form{
        grid-template-columns: 150px 100px;
        gap: 0px;
    }

    .content form div,  .content form a,  .content form button{ 
        margin: 0px auto 20px auto;
    }

    form button{
        margin-top: 0px;
        grid-column: 1;
    }

    form button, form a{
        grid-column: span 2;
    }

    /*ModalDel*/
    #modalDel .content p{
        margin-bottom: 10px;
    }

    /*Página Ideias.HTML*/

    #page-ideias #ideias .ideia{
       width: 200px;
       margin: 0px auto 20px auto;
    }
}